# Core
Django>=4.2,<5
asgiref>=3.7

# Auth
django-allauth>=0.56
django-user-accounts>=3.3

# Env
django-environ>=0.11

# Front
django-tailwind>=3.6
django-crispy-forms>=2.0
crispy-tailwind>=0.5

# DB
psycopg2-binary>=2.9
argon2-cffi>=21.3.0"

# Server
gunicorn>=20
uvicorn>=0.22

# Utils
requests>=2.31
Pillow>=10
python-slugify>=8
rich>=13