{% extends "base.html" %}
{% load static %}
{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<h1>{% trans "Confirm E-mail Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>


<section class="px-8 py-24 mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="container mx-auto text-center block bg-white rounded-lg p-6">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <img class="mx-auto w-12 h-12 " src="{% static 'img/logo.png' %}" alt="Workflow">
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            <span class="text-black">Bienvenido a <b>gosth media</b></span>  
            </h2>
            <p class="mt-2 text-center text-lg text-gray-600">
            <span class="text-black">
                Tu correo se verifico con exito!
            </span> 
            </p>
            <form method="post" class="mt-2" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                    <button type="submit" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-lg font-medium rounded shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2">{% trans 'Confirm' %}</button>
                </form>
        </div>
        
    </div>
    </section>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
